@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(right, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(right, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(right, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(to right, $fromColor, $toColor);
}

$diff-font-color: rgb(255,170,170);
$same-color: rgb(0,255,0);
$diff-color: rgb(0,0,255);

